<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592145524662-gkvb8e5mh9jttghm1e6rc0hboukvq35f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592145524662-gkvb8e5mh9jttghm1e6rc0hboukvq35f</string>
	<key>API_KEY</key>
	<string>AIzaSyB7Qu_msA9QlSfEREmOjEy69wW6d2WKFL4</string>
	<key>GCM_SENDER_ID</key>
	<string>592145524662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication4.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bankingapp-4df26</string>
	<key>STORAGE_BUCKET</key>
	<string>bankingapp-4df26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592145524662:ios:5f0fe0184aaa1510c9c317</string>
</dict>
</plist>